@model Bibliotheek.Domain.Entities.Boek

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Boek</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Isbn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Isbn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Titel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Samenvatting)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Samenvatting)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
